cmake_minimum_required(VERSION 2.6)

project(test)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY {{ bin_dir }})

include_directories({{ util }})
include_directories({{ project }}/include)
include_directories({{ project }}/src/gl)
include_directories({{ project }}/src/util)

add_definitions(-include test_skip.h)
include({{ project }}/flags.cmake)

file(GLOB_RECURSE GL_SOURCES {{ project }}/src/gl/*.c {{ project }}/src/gl/*.cpp)
file(GLOB UTIL_SOURCES {{ project }}/src/util/*.c {{ project }}/src/util/math/*.c)
set(GL_SOURCES ${GL_SOURCES} ${UTIL_SOURCES})

if(${CMAKE_SYSTEM_NAME} MATCHES "Darwin")
    link_directories(/opt/X11/lib)
endif()

add_executable(tmp ${GL_SOURCES} {{ sources }})
target_link_libraries(tmp X11 m dl pthread)
if(${CMAKE_SYSTEM_NAME} MATCHES "Linux")
    target_link_libraries(tmp rt)
endif()
