cmake_minimum_required(VERSION 2.6)

project(test)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY {{ bin_dir }})

include_directories({{ util }})
include_directories({{ project }}/include)
include_directories({{ project }}/src/gl)
include_directories({{ project }}/src/util)

add_definitions(-g -w -std=c99 -O2 -include test.h)

file(GLOB_RECURSE GL_SOURCES {{ project }}/src/gl/*.c)
add_executable(test ${GL_SOURCES} {{ sources }} {{ util }}/mock.c)
