cmake_minimum_required(VERSION 2.6)

project(test)
set(CMAKE_RUNTIME_OUTPUT_DIRECTORY {{ bin_dir }})

include_directories({{ util }})
include_directories({{ project }}/include)
include_directories({{ project }}/src/gl)
include_directories({{ project }}/src/util)

add_definitions(-include test.h)
include({{ project }}/flags.cmake)

file(GLOB_RECURSE GL_SOURCES {{ project }}/src/gl/*.c {{ project }}/src/gl/*.cpp)
file(GLOB UTIL_SOURCES {{ project }}/src/util/*.c)
set(GL_SOURCES ${GL_SOURCES} ${UTIL_SOURCES})

add_executable(test ${GL_SOURCES} {{ sources }} {{ util }}/mock.c)
