{% from "base/util.j2" import fprint %}
{% extends "base/base.j2" %}
{% block main %}

{% for func in functions %}
#ifndef skip_{{ func.name }}
{{ func.return }} {{ func.name }}({{ func.args|args }}) {
    LOAD_GLES({{ func.name }});
    {% block call scoped %}
#ifndef direct_{{ func.name }}
    PUSH_IF_COMPILING({{ func.name }});
#endif
    FORWARD_IF_REMOTE({{ func.name }});
    {%+ if not func.void %}return {% endif %}gles_{{ func.name }}({{ func.args|args(0) }});
    {% endblock %}
}
#endif
{% endfor %}

{% for func in functions %}
{{ func.return }} stub_{{ func.name }}({{ func.args|args }}) {
{{ fprint(func, prefix='stub ') }}
{%- if not func.void %}    return 0;
{% endif %}
}
{% endfor %}
{% endblock %}
