{% extends "base/wrap.h.j2" %}
{% block content %}
{{ super() }}
{% for func in functions %}
#define pack_{{ func.name }}({{ func.args|args(0, '_') }}) ({ \
    {{ func.name }}_PACKED *packed_data = malloc(sizeof({{ func.name }}_PACKED)); \
    packed_data->index = {{ func.name }}_INDEX; \
    {% if func.args %}
    {% for arg in func.args %}
    packed_data->args.{{ arg.name }} = ({{ arg.type|unconst }})_{{ arg.name }}; \
    {% endfor %}
    {% endif %}
    (packed_call_t *)packed_data; \
})
{% endfor %}
{% endblock %}
