{% from "base/util.j2" import fprint %}
{% extends "base/base.j2" %}
{% block main %}

{% for func in functions %}
{{ func.return }} stub_{{ func.name }}({{ func.args|args }}) {
{{ fprint(func, prefix='stub ', pfunc='debugf') }}
    {%- if not func.void %}    return 0;
    {% endif %}
}
{% endfor %}

{% endblock %}
