{% macro fprint(f, prefix='', pfunc='printf') %}
{% if f.args %}
    {{ pfunc }}("{{ prefix + f.name }}({{ f.args|printf }});\n", {{ f.args|args(0) }});
{% else %}
    {{ pfunc }}("{{ prefix + f.name }}();\n");
{% endif %}
{% endmacro %}

{% macro args(f) -%}
{% for arg in f.args -%}
    args->{{ arg.name }}{% if not arg.last %}, {% endif %}
{% endfor %}
{%- endmacro %}

{% macro call(f) -%}
{{ f.name }}({{ args(f) }});
{%- endmacro %}
